language: c++
branches:
  except:
  - automatic
cache:
  directories:
  - download
matrix:
  include:
  - os: linux
    sudo: required
    dist: trusty
    env:
    - _BUILD=win32
    - _MINGW=mingw32
    - _HOST=i686-w64-mingw32
    before_install:
    - sudo add-apt-repository ppa:kxstudio-debian/kxstudio -y
    - sudo add-apt-repository ppa:kxstudio-debian/mingw -y
    - sudo add-apt-repository ppa:kxstudio-debian/toolchain -y
    - sudo apt-get update -qq
    - sudo apt-get install kxstudio-repos
    - sudo apt-get update -qq
    install:
    - 'sudo apt-get install -y g++ pkg-config "${_MINGW}"-x-gcc "${_MINGW}"-x-pkgconfig
      wine

'
    script:
    - bash .travis/script-mingw.sh
    - cp -drfv bin ninjas2-"$_BUILD"
    - rm -f ninjas2-"$_BUILD"/README
    - install -d release
    - zip -9 -r release/ninjas2-"$_BUILD".zip ninjas2-"$_BUILD"
  - os: linux
    sudo: required
    dist: trusty
    env:
    - _BUILD=win64
    - _MINGW=mingw64
    - _HOST=x86_64-w64-mingw32
    before_install:
    - sudo add-apt-repository ppa:kxstudio-debian/kxstudio -y
    - sudo add-apt-repository ppa:kxstudio-debian/mingw -y
    - sudo add-apt-repository ppa:kxstudio-debian/toolchain -y
    - sudo apt-get update -qq
    - sudo apt-get install kxstudio-repos
    - sudo apt-get update -qq
    install:
    - 'sudo apt-get install -y g++ pkg-config "${_MINGW}"-x-gcc "${_MINGW}"-x-pkgconfig
      wine

'
    script:
    - bash .travis/script-mingw.sh
    - cp -drfv bin ninjas2-"$_BUILD"
    - rm -f ninjas2-"$_BUILD"/README
    - install -d release
    - zip -9 -r release/ninjas2-"$_BUILD".zip ninjas2-"$_BUILD"
  - os: osx
    sudo: required
    env:
    - _BUILD=macos
    script:
    - bash .travis/script-macos.sh
    - cp -av bin ninjas2-"$_BUILD"
    - rm -f ninjas2-"$_BUILD"/README
    - install -d release
    - zip -9 -r release/ninjas2-"$_BUILD".zip ninjas2-"$_BUILD"
  - os: linux
    sudo: required
    dist: trusty
    env:
    - _BITS=64
    - _BUILD=linux64
    before_install:
    - sudo apt-get update -qq
    install:
    - sudo apt-get install libgl1-mesa-dev libx11-dev libsamplerate0-dev libsndfile1-dev
    script:
    - bash .travis/script-linux.sh
    - cp -drfv bin ninjas2-"$_BUILD"
    - rm -f ninjas2-"$_BUILD"/README
    - install -d release
    - zip -9 -r release/ninjas2-"$_BUILD".zip ninjas2-"$_BUILD"
  - os: linux
    sudo: required
    dist: trusty
    env:
    - _BITS=32
    - _BUILD=linux32
    before_install:
    - sudo dpkg --add-architecture i386
    - sudo apt-get update -qq
    install:
      - sudo apt-get install libgl1-mesa-dev:i386 libx11-dev:i386 libsamplerate0-dev:i386 libsndfile1-dev:i386 libc6-dev-i386 lib32stdc++-4.8-dev libc6:i386 libstdc++6:i386
    script:
    - bash .travis/script-linux.sh
    - cp -drfv bin ninjas2-"$_BUILD"
    - rm -f ninjas2-"$_BUILD"/README
    - install -d release
    - zip -9 -r release/ninjas2-"$_BUILD".zip ninjas2-"$_BUILD"
before_deploy:
- |
  if test "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false"; then
    export TRAVIS_TAG=automatic
    git tag -f "$TRAVIS_TAG"
  fi
deploy:
  provider: releases
  api_key: "$GITHUB_TOKEN"
  file: release/*
  file_glob: true
  skip_cleanup: true
  prerelease: true
  overwrite: true
  on:
    branch: master
env:
  global:
  - secure: W2cje+mglxsG8SJGZL4j+McmxrNbXpErSzlF5IUi4YmHazTnVbvX+odsp0qBXdZemV86mhzCB7OTfefUG8+Jw/7HVtLxIuOCF8gLCZWpawt+JyDy32zqGzAMfYJ/cmlO1Lz+B3W7XqpyPG7qPzZX4E2C167JUOuMQFe/DuGEIGwJexht884FEz32iC9+6GQPjdS/dl3rakdwiAriFmwyYBp77Yv5eowYgb5PGYy95yXIJsFvgiFy6/+ygFBW4E/r+0Tgl+6Y3AKRByvy6TfqU0ejB40VwQ1r/4RkcKemioVF73NeQEWKFibsGAYQCVgw/F/ezRloQfFQyG12/CbgqGosXDAQoOZdfkvmhJ5ibxDB2Y/TDSAH57Dh0H3loK8n0FqtPdFQx9g1S+M0Xn1VU5PRZtzCVJ6DJMyhFvQXaLJH58mWJCQUgq4PwkF8QzlkG84Bh84atevpt21m3UAXrHjEdk9rC9BDtxLvu+suyD/WrPe++OAWcWaIz1rJx9STRO8mz82W9skHND3OOXDJx/A6ueatHRVw+lsumVbZOUY7wBZdjJoHVfUPLpK6QrD1XAIN76K11jb2iodLcbX1PFfkNkMcReoHSG7W1sl6MNfbu0JKjfifu/J0kjBtHyn+zjRTTxGw/qfrkF8BAiay0pNV49Yp8JfGiqqgCuM/ZY8=
