language: c++

cache:
  directories:
    - download

matrix:
  include:

    # Windows 32 bits
    - os: linux
      sudo: required
      dist: trusty
      env:
        - _BUILD=win32
        - _MINGW=mingw32
        - _HOST=i686-w64-mingw32
      before_install:
        - sudo add-apt-repository ppa:kxstudio-debian/kxstudio -y
        - sudo add-apt-repository ppa:kxstudio-debian/mingw -y
        - sudo add-apt-repository ppa:kxstudio-debian/toolchain -y
        - sudo apt-get update -qq
        - sudo apt-get install kxstudio-repos
        - sudo apt-get update -qq
      install:
        - >
          sudo apt-get install -y
          g++
          pkg-config
          "${_MINGW}"-x-gcc
          "${_MINGW}"-x-pkgconfig
          wine
      script:
        - bash .travis/script-mingw.sh
        - cp -drfv bin ninjas2-"$_BUILD"
        - rm -f ninjas2-"$_BUILD"/README
        - install -d release
        - zip -9 -r release/ninjas2-"$_BUILD".zip ninjas2-"$_BUILD"

    # Windows 64 bits
    - os: linux
      sudo: required
      dist: trusty
      env:
        - _BUILD=win64
        - _MINGW=mingw64
        - _HOST=x86_64-w64-mingw32
      before_install:
        - sudo add-apt-repository ppa:kxstudio-debian/kxstudio -y
        - sudo add-apt-repository ppa:kxstudio-debian/mingw -y
        - sudo add-apt-repository ppa:kxstudio-debian/toolchain -y
        - sudo apt-get update -qq
        - sudo apt-get install kxstudio-repos
        - sudo apt-get update -qq
      install:
        - >
          sudo apt-get install -y
          g++
          pkg-config
          "${_MINGW}"-x-gcc
          "${_MINGW}"-x-pkgconfig
          wine
      script:
        - bash .travis/script-mingw.sh
        - cp -drfv bin ninjas2-"$_BUILD"
        - rm -f ninjas2-"$_BUILD"/README
        - install -d release
        - zip -9 -r release/ninjas2-"$_BUILD".zip ninjas2-"$_BUILD"

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: release/*
  file_glob: true
  skip_cleanup: true
  prerelease: true
  #draft: true
  overwrite: true
  on:
    branch: master

# TODO: replace me $GITHUB_TOKEN (a personal access token with repo rights)
#  travis login --com
#  travis encrypt GITHUB_TOKEN=<the-token-value> --com --add
env:
  global:
    secure: KQIx0K9HNyKwGW793K6LzGIY38E9Ax2JLyzzu62T/u1JGQYSZ0z4V4suVzMcDAPbq1dsmn6ni4jEWPJyC7jgwwAdU52tv7YqYIXAf1ZbnbPL3Tykuh3DPNKwGVlimZzd4gl7C+Qg+gMYdu0mVYceB0i+T6F+U/O23sTwDsX7rtpegEj56jRPc5+VCjpNTDnGifHvtNaXgnPMx6Gf9nW/IsXNCGfdnQSPLPGHnNLmNLJvIJX3AbXgTgE66vT8+8ZcGcTg3W5YKOp6qnEUb3fo8qFdrG39yKBdf4qguy2zSAktPVozn7GshyCmo6GtLbPcti+nLN/BfcqJvazb3NWJ2ivevg/FnNxQtu8/UCB4gLIS+LRsvndhGT/FcpnW/WhOolgmQJnwFPU/0sRY63/gixWWN3/wzX/2mwwbkFWbJ6nYW0sO7YR4YCrEwzxAVF8ZzoWVvZFFLt2vkEGK1/rnWGca3+Xx3LPudnIa3dbvlVhJWYzLpWshHa+YdZtB0G34t2azquMIQVbll1EpgiuE0slZ1SIKnMqGftLxsDPq2gAc1Zu7g9mx4IzsHBoDaVI5ENr+X6iT6KMLEJWJJJbrn+zTSHu0L+ITjdkr2YA6IXYVQoie7lcjh2j7iMs4Jsc/RO+nbBtegUImAfrmD3bsku/BXGpZYKmeg2F6+eCJM+Q=
